.div{
    background-color: var(--white);
   
    width:300px;
    box-shadow: 0px 3px 15px var(--shadow-light);
    margin: 10px;
    border-radius: 5px;
}
.text_div{
 
  padding: 15px 10px;
}
.text_div h1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  font-weight: lighter;
font-size: 0.85rem;
}


.image_div{

  overflow: hidden;
}

.image_div_hover{
  transition: all 250ms ease-in-out;
}
.image_div_hover:hover{
 
  transform: scale(1.05);
  
}
.image_div_hover a{
  display: flex;
}