.card_div{
    text-align: center;
    padding: 30px;
    background-color: var(--dark-white);
}
.card_div:hover{

    padding: 30px;
    background-color: var(--dark-white);
    box-shadow: 0px 3px 15px var(--shadow-light);
}
.card_div_text h1{
    margin-bottom: 20px;
    color: var(--Black-Russian);
}
.card_div_text p{
    color: var(--grayish-blue);    
}
.card_div_icon span {
    
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
 
}
